USE [master]
GO
/****** Object:  Database [Al Arz Music Record (AMR)]    Script Date: 1/12/2021 8:28:34 PM ******/
CREATE DATABASE [Al Arz Music Record (AMR)]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Al Arz Music Record (AMR)', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Al Arz Music Record (AMR).mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Al Arz Music Record (AMR)_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Al Arz Music Record (AMR)_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Al Arz Music Record (AMR)].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Al Arz Music Record (AMR)]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 1/12/2021 8:28:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[AID] [int] NOT NULL,
	[Title] [varchar](30) NOT NULL,
	[CopyRightDate] [date] NOT NULL,
	[Format] [varchar](2) NOT NULL,
	[Genre] [varchar](30) NOT NULL,
	[MID] [int] NOT NULL,
	[producer] [int] NULL,
 CONSTRAINT [PK_Album] PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instrument]    Script Date: 1/12/2021 8:28:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instrument](
	[ID] [int] NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[key] [varchar](5) NOT NULL,
 CONSTRAINT [PK_Instrument] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musician]    Script Date: 1/12/2021 8:28:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musician](
	[MID] [int] NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](9) NOT NULL,
 CONSTRAINT [PK_Musician] PRIMARY KEY CLUSTERED 
(
	[MID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Performed_By]    Script Date: 1/12/2021 8:28:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Performed_By](
	[MID] [int] NOT NULL,
	[Title] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Performed_By] PRIMARY KEY CLUSTERED 
(
	[MID] ASC,
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Played_by]    Script Date: 1/12/2021 8:28:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Played_by](
	[MID] [int] NOT NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_Played_by] PRIMARY KEY CLUSTERED 
(
	[MID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Song]    Script Date: 1/12/2021 8:28:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Song](
	[Title] [varchar](30) NOT NULL,
	[Author] [varchar](20) NOT NULL,
	[Singer] [varchar](150) NOT NULL,
	[Duration] [float] NOT NULL,
	[text] [text] NOT NULL,
	[AID] [int] NOT NULL,
 CONSTRAINT [PK_Song] PRIMARY KEY CLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Album] ([AID], [Title], [CopyRightDate], [Format], [Genre], [MID], [producer]) VALUES (901, N'Applause', CAST(N'2019-08-14' AS Date), N'EP', N'Pop', 1001, 1003)
INSERT [dbo].[Album] ([AID], [Title], [CopyRightDate], [Format], [Genre], [MID], [producer]) VALUES (902, N'Orange Flower', CAST(N'2008-01-29' AS Date), N'LP', N'Rock', 1002, 1002)
INSERT [dbo].[Album] ([AID], [Title], [CopyRightDate], [Format], [Genre], [MID], [producer]) VALUES (903, N'FireFlies', CAST(N'2020-07-30' AS Date), N'EP', N'Pop', 1002, 1003)
GO
INSERT [dbo].[Instrument] ([ID], [Name], [key]) VALUES (20, N'Guitar', N'G')
INSERT [dbo].[Instrument] ([ID], [Name], [key]) VALUES (21, N'Piano', N'E')
INSERT [dbo].[Instrument] ([ID], [Name], [key]) VALUES (22, N'Drums', N'Pearl')
GO
INSERT [dbo].[Musician] ([MID], [Name], [Gender], [Address], [PhoneNumber]) VALUES (1001, N'Willy Shakes', N'M', N'Texas,Huston,64th avenue', N'555-3812')
INSERT [dbo].[Musician] ([MID], [Name], [Gender], [Address], [PhoneNumber]) VALUES (1002, N'Kelly Clarkson', N'F', N'LA,43 Avenue,wang s street', N'555-1949')
INSERT [dbo].[Musician] ([MID], [Name], [Gender], [Address], [PhoneNumber]) VALUES (1003, N'Madison weiling', N'F', N'New York, central park,34 th Avenue', N'555-2304')
GO
INSERT [dbo].[Performed_By] ([MID], [Title]) VALUES (1001, N'Greatest')
INSERT [dbo].[Performed_By] ([MID], [Title]) VALUES (1002, N'Body Bag')
INSERT [dbo].[Performed_By] ([MID], [Title]) VALUES (1002, N'Can t handle This anymore')
GO
INSERT [dbo].[Played_by] ([MID], [ID]) VALUES (1001, 22)
INSERT [dbo].[Played_by] ([MID], [ID]) VALUES (1002, 20)
INSERT [dbo].[Played_by] ([MID], [ID]) VALUES (1002, 21)
GO
INSERT [dbo].[Song] ([Title], [Author], [Singer], [Duration], [text], [AID]) VALUES (N'Body Bag', N'Jay-T', N'Kelly Clarkson', 3.43, N'and i have through with my barbie ,damn for the dough', 902)
INSERT [dbo].[Song] ([Title], [Author], [Singer], [Duration], [text], [AID]) VALUES (N'Can t handle This anymore', N'Harper Kiyoko', N'Kelly Clarkson', 2.5, N'can t handle the fact of no here and there with no words', 902)
INSERT [dbo].[Song] ([Title], [Author], [Singer], [Duration], [text], [AID]) VALUES (N'Great of all', N'belrancee', N'Madison Weiling', 2.56, N'get a swing aint work fot the future again hello ', 905)
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [FK_Album_Musician] FOREIGN KEY([MID])
REFERENCES [dbo].[Musician] ([MID])
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [FK_Album_Musician]
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [FK_Album_Musician1] FOREIGN KEY([MID])
REFERENCES [dbo].[Musician] ([MID])
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [FK_Album_Musician1]
GO
ALTER TABLE [dbo].[Performed_By]  WITH CHECK ADD  CONSTRAINT [FK_Performed_By_Musician] FOREIGN KEY([MID])
REFERENCES [dbo].[Musician] ([MID])
GO
ALTER TABLE [dbo].[Performed_By] CHECK CONSTRAINT [FK_Performed_By_Musician]
GO
ALTER TABLE [dbo].[Performed_By]  WITH CHECK ADD  CONSTRAINT [FK_Performed_By_Song] FOREIGN KEY([Title])
REFERENCES [dbo].[Song] ([Title])
GO
ALTER TABLE [dbo].[Performed_By] CHECK CONSTRAINT [FK_Performed_By_Song]
GO
ALTER TABLE [dbo].[Played_by]  WITH CHECK ADD  CONSTRAINT [FK_Played_by_Instrument] FOREIGN KEY([ID])
REFERENCES [dbo].[Instrument] ([ID])
GO
ALTER TABLE [dbo].[Played_by] CHECK CONSTRAINT [FK_Played_by_Instrument]
GO
ALTER TABLE [dbo].[Played_by]  WITH CHECK ADD  CONSTRAINT [FK_Played_by_Musician] FOREIGN KEY([MID])
REFERENCES [dbo].[Musician] ([MID])
GO
ALTER TABLE [dbo].[Played_by] CHECK CONSTRAINT [FK_Played_by_Musician]
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [FK_Song_Album] FOREIGN KEY([AID])
REFERENCES [dbo].[Album] ([AID])
GO
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [FK_Song_Album]
GO
USE [master]
GO
